<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./bootstrap.php">
    <testsuites>
      <testsuite name="sqrl_unit_tests">
        <file>./unittests/SqrlGenerateTest.php</file>
        <file>./unittests/SqrlValidateTest.php</file>
      </testsuite>
      <testsuite name="sqrl_integration_tests">
        <file>./integrationtests/SqrlValidateTest.php</file>
      </testsuite>
    </testsuites>
</phpunit>